/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-12-13, 13:41:24
    Author     : 19219
*/

.root {
    -fx-background-color: slategray;
}


.label {
    -fx-text-fill: plum;
    -fx-font-size: 18pt;
    -fx-font-family: cursive;
    -fx-font-style: italic;
}

.button {
    -fx-text-fill: red;
    -fx-background-color: blanchedalmond;
}

.list-view {
    -fx-background-color: springgreen;
    -fx-text-fill: salmon;
}